.order-edit {
    background-color: #fff;
    .adm-bus-component-title-container {
        position: relative;
        padding: 10px;
        background: #e7f2f2;
        display: flex;
    }

    .adm-bus-component-title-icon {
        line-height: 16px;
        display: inline-block;
        width: 17px;
        height: 16px;
        margin-right: 10px;
        vertical-align: middle;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAYAAADwMZRfAAAApklEQVQ4y62TWxKAIAhFWV+5CfqR/W+g0kRe4ZfN3AFvCXYoOK96sMpFXd47h1dMlBy04cVFdWG95hxkk+0WRb9Fm+DecLWTLPV2fSPN+In92g4BYuDYiG497vMmv+5FPCR5XzsBD9cwyUabgsYIHPJO61Nob/d0SAGTfHpYDVwGzGBNIfuwTKH85LOIZUABbA5e7sH6U48ge0QHNo41/4eyZlum8wCk2+4DSY0a1QAAAABJRU5ErkJggg==) no-repeat center;
    }

    .adm-bus-component-title {
        font-size: 15px;
        font-weight: bold;
        line-height: 16px;
        display: inline-block;
        vertical-align: middle;
        color: #3a4649;
        text-shadow: 0 1px 0 #fff;
    }

    .adm-bus-component-content-container {
        padding: 5px;
        background: #f7fafa;
        margin-bottom: 15px;
    }

    .align-items-center,
    .col-form-label {
        font-size: 13px;
    }

    .block {
        display: block;
    }

    .adm-s-order-table-ddi-table {
        thead {
            th {
                background: #e8eff1;
                height: 48px;
                box-shadow: inset 0 1px 0 0 #fff;
                border-top: 1px solid #e2e5e5;
                font-size: 14px;
                color: #3b4649;
                font-weight: bold;
                text-shadow: 0 1px 0 #fff;
                border-bottom: 1px solid #a9a9a9;
                padding: 1px 3px;
                vertical-align: middle;
            }
        }
    }

    p {
        margin: 0 0 5px;
        font-size: 13px;
    }
}