.other-page {
    font-size: 13px;
    &__title {
        text-align: right;
        display: block;
        font-size: 14px;
    }

    .column {
        width: 50%;
        padding: 5px 10px 7px;
    }

    .form-check-input {
        // margin-top: -5px;
    }

    .label {
        span {
            display: inline-block;
            min-height: 12px;
            min-width: 12px;
            text-align: left;
        }
    }
}
