.content-header {
  &__title {
    background: url(../images/title-bg.png) repeat-x 0 50%;
    font-size: 13px;
    font-weight: 700;
    margin: 0 0 7px;
    color: #0068c8;
    padding: 0;
    text-transform: uppercase;
    span {
      background: url(../images/bg.png) repeat;
      padding: 0 10px 0 0;
    }
  }
}
