.header {
	// height: 150px;
	padding: 10px 0 0;
	position: relative;
  @media (max-width: 991px) {
    height: auto;
    padding-bottom: 17px;
  }

  &.fixed-top-centered {
    position: relative;
    display: block;
    margin: 13px auto 0;
    .phone-icon {
      display: none;
    }
  }

	.header-column {
		padding-right: 15px;
		padding-left: 15px;
    width: 60%;
    display: flex;
    align-items: center;
		@media (min-width: 768px) {
			width: 50%;
		}

		@media (min-width: 992px) {
			width: 41.66666667%;
		}
	}
  &__icon-mobile {
    margin: 10px 0 0;
    padding: 0 10px;
    width: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    @media (min-width: 768px) {
      display: none;
    }

    .basket {
      margin: 0 0 0 15px;
      position: relative;
      width: 37px;
      height: 37px;
      border-radius: 100%;
      border: 1px solid #0068c8;
      padding: 9px 0 0 6px;
      img {
        width: 21px;
      }
      .count {
        background: #ff5100;
        border-radius: 10px;
        position: absolute;
        top: -9px;
        right: -9px;
        color: #fff;
        font-size: 11px;
        min-width: 17px;
        padding: 3px 4px;
        height: 16px;
        line-height: 11px;
        text-align: center;
        @media (max-width: 850px) and (min-width: 350px) {
          top: -4px;
          right: -3px;
        }
      }
    }

    .phone-icon {
      margin: 0 0 0 15px;
      width: 37px;
      height: 37px;
      border-radius: 100%;
      border: 1px solid #0068c8;
      padding: 7px 0 0 7px;
      img {
        width: 20px;
      }
    }
  }

	.header-search-block {
		padding: 28px 0 0;
		@media (min-width: 992px) {
			width: 33.33333333%;
		}
	}

	.contacts-column {
		padding-right: 15px;
		padding-left: 15px;
		@media (min-width: 768px) {
			width: 50%;
		}

		@media (min-width: 992px) {
			width: 25%;
		}
	}

	.logo {
		padding: 16px 22px 0 0;
		display: block;
		float: left;
		@media (max-width: 400px) {
			padding-top: 8px !important;
		}
		img {
			@media (max-width: 767px) {
				width: 200px;
			}
		}
	}
}

.toggle {
  width: 48px;
  height: 17px;
  background: url(../images/toggle.svg) bottom left no-repeat;
  border: 0;
  padding-top: 40px;
  z-index: 2;
  position: relative;
  @media (max-width: 400px) {
    padding-top: 36px;
  }
  &.another-page {
    display: block;
    @media (min-width: 876px) {
      display: none;
    }
  }
}

.header-sticky {
  &.fixed {
    @media (max-width: 767px) {
      background: url(../images/bg.png) repeat;
      position: fixed;
      z-index: 222;
      width: 100%;
    }

    .top-bar {
      @media (max-width: 767px) {
        display: none !important;
      }
    }
    .contacts-column {
      @media (max-width: 767px) {
        display: none;
      }

    }

    .header {
      @media (max-width: 767px) {
        height: auto;
        padding-bottom: 0;
        padding-top: 0;
      }
    }

    .header.fixed-top-centered {
      @media (max-width: 767px) {
        margin: 0px auto 0;
        padding: 0 0 7px;
      }
      .row-line {
        align-items: center;
      }

      .phone-icon {
        @media (max-width: 767px) {
          display: block;
        }

      }
    }
  }
}
