body {
	background: url(../images/submenu-bg.png) repeat;
}

.adm-header-bottom {
	background: url(../images/bx-admin-sprite-small-2.png) repeat-x 0 0;
	-webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 40%);
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 40%);
	height: 12px;
}