@charset "UTF-8";
/*
 * Sidebar
 */
.sidebar {
  padding: 70px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  height: calc(100vh - 15px);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.content {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  max-height: 100vh;
}

html, body {
  height: 100%;
}

#app {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

:root {
  --ui-btn-size-xs: 26px;
  --ui-btn-size-sm: 31px;
  --ui-btn-size-md: 39px;
  --ui-btn-size-lg: 47px;
  --ui-btn-padding: 0 20px;
  --ui-btn-padding-right: 20px;
  --ui-btn-min-width: 80px;
  --ui-btn-height: var(--ui-btn-size-md);
  --ui-btn-font-size: 12px;
  --ui-btn-box-shadow: none;
  --ui-btn-box-shadow-hover: none;
  --ui-btn-box-shadow-active: none;
  --ui-btn-text-shadow: none;
  --ui-btn-text-shadow-hover: none;
  --ui-btn-text-shadow-active: none;
}

main {
  flex-grow: 1;
}

.header {
  flex-shrink: 0;
}

.modal-footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 22;
  background: #fff;
}

.edit-item-footer {
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  border: 1px solid #ced7d8;
  border-bottom: 0;
  padding: 10px 0 0;
}

.edit-item-footer.edit-item-footer-fixed {
  position: fixed;
  z-index: 22;
  bottom: 0;
  width: 100%;
}

.pin-btn:after {
  content: "<";
  display: inline-block;
  width: 20px;
  height: 20px;
}
.pin-btn.pin-btn-pinned:after {
  content: "V";
}

body {
  background: url(../images/submenu-bg.png) repeat;
}

.row-overflow-hidden {
  overflow: hidden;
}

.adm-header-bottom {
  background: url(../images/bx-admin-sprite-small-2.png) repeat-x 0 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
  height: 12px;
}

.adm-title {
  color: #25282c;
  margin: 0 0 15px;
  font-size: 22px;
  font-weight: bold;
  padding: 0;
  text-shadow: 0 1px white;
}
.adm-title .adm-fav-link {
  background: url(../images/bx-admin-sprite-small-2.png) no-repeat 11px -2033px;
  display: inline-block;
  height: 20px;
  cursor: pointer;
  margin-top: 4px;
  vertical-align: top;
  width: 38px;
}

.btn {
  transition: 160ms background-color linear, 160ms color linear, 160ms opacity linear, 160ms border-color linear;
}
.btn:hover {
  text-decoration: none;
  text-shadow: var(--ui-btn-text-shadow-hover);
}

.table .thead-light th {
  border-bottom: 2px #eef2f4 solid;
  background-color: #fff;
}
.table td {
  border-bottom: 1px #eef2f4 solid;
  background: #fff;
  vertical-align: top;
}
.table .main-grid-head-title {
  z-index: 7;
  display: inline-block;
  overflow: hidden;
  padding-right: 21px;
  max-width: 100%;
  color: #535c69;
  text-align: left;
  text-transform: uppercase;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.5px;
  font-weight: normal;
  font-size: 11px;
  font-family: "OpenSans-Semibold", "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 12px;
}
.table .main-grid-cell-content {
  position: relative;
  display: block;
  margin: 16px 0;
  color: #535c69;
  font-size: 13px;
}
.table .main-grid-cell-content p:after {
  content: "";
  background: #333;
  height: 1px;
  display: block;
  width: 67%;
  margin: 10px auto -7px;
}
.table .form-check {
  padding-top: 16px;
  margin: 0 -11px 0 -7px;
}
.table .form-check.no-margin {
  margin: 0;
}
.table .form-check.no-padding-top {
  padding-top: 0;
}
.table a {
  color: #1c53a2;
  text-decoration: none;
}
.table .dropdown {
  margin: 10px -6px;
  width: 14px;
}
.table .adm-list-table-icon {
  background: url(../images/icons-sprite-14.png) no-repeat center -1512px;
  display: inline-block;
  height: 16px;
  width: 21px;
  margin-right: 5px;
}
.table .adm-list-table-icon.iblock-section-icon {
  background-position: center -118px;
}
.table__column-name {
  display: flex;
  align-items: center;
}

.tab-content {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  border: 1px solid #ced7d8;
  border-top: none;
  margin-bottom: 20px;
}

.row-line {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.row-line__right {
  justify-content: flex-end;
}

.row-buttons {
  margin-bottom: 15px;
}

.btn__remove {
  border: 0;
  padding: 0;
  background: transparent;
}
.btn__save {
  background-color: #86ad00 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px 0 #cbdc00;
  border: solid 1px;
  border-color: #97c004 #7ea502 #648900;
  background-image: linear-gradient(bottom, #729e00, #97ba00) !important;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  -webkit-font-smoothing: antialiased;
  padding: 0 13px 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  height: 29px;
  line-height: 27px;
  text-decoration: none;
  position: relative;
}
.btn__add {
  border-radius: 4px;
  border: none;
  /* border-top: 1px solid #fff; */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #fff, inset 0 0 1px rgba(255, 255, 255, 0.5);
  background-color: #e0e9ec;
  background-image: linear-gradient(bottom, #d7e3e7, #fff) !important;
  color: #3f4b54;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  height: 29px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
.btn__add:before {
  background: url(../images/bx-admin-sprite-small-2.png) 0 -2428px;
  content: "";
  display: inline-block;
  height: 17px;
  margin: 2px 10px 0 -5px;
  opacity: 1;
  position: static;
  vertical-align: top;
  width: 13px;
}
.btn__default {
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #fff, inset 0 0 1px rgba(255, 255, 255, 0.5);
  background-color: #e0e9ec;
  background-image: linear-gradient(bottom, #d7e3e7, #fff) !important;
  border-radius: 4px;
  color: #3f4b54;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  height: 29px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
.btn__default:hover {
  background: #f3f6f7 !important;
  background-image: -webkit-linear-gradient(top, #f8f8f9, #f2f6f8) !important;
  color: #3f4b54;
}
.btn__copy {
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #fff, inset 0 0 1px rgba(255, 255, 255, 0.5);
  background-color: #e0e9ec;
  background-image: linear-gradient(bottom, #d7e3e7, #fff) !important;
  color: #3f4b54;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  height: 29px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin: 0 10px 0 0;
  padding: 7px 15px;
}
.btn__copy:before {
  background: url(../images/bx-admin-sprite-small-2.png) 0 -2403px;
  content: "";
  display: inline-block;
  height: 17px;
  margin: 1px 10px 0 -5px;
  opacity: 1;
  position: static;
  vertical-align: top;
  width: 15px;
}
.btn__dropdown {
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #fff, inset 0 0 1px rgba(255, 255, 255, 0.5);
  background-color: #e0e9ec;
  background-image: linear-gradient(bottom, #d7e3e7, #fff) !important;
  color: #3f4b54;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  height: 29px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin: 0 10px 0 0;
}
.btn__dropdown .add {
  position: relative;
}
.btn__dropdown .add:before {
  background: url(../images/bx-admin-sprite-small-2.png) 0 -2428px;
  content: "";
  display: inline-block;
  height: 17px;
  margin: 2px 10px 0 -5px;
  opacity: 1;
  position: static;
  vertical-align: top;
  width: 13px;
}
.btn__grid-row-action-button {
  border: 0;
  position: relative;
  top: 3px;
  display: inline-block;
  width: 14px;
  height: 12px;
  border-radius: 0;
  background: url(../images/sprite-interface.min.svg) 0 -201px no-repeat;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 200ms ease;
}
.btn__grid-row-action-button:active, .btn__grid-row-action-button:focus, .btn__grid-row-action-button:hover {
  opacity: 0.7;
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0 0 0 0;
}
.btn__cancel-order {
  background: #fff;
  border: 1px solid #e0e8ea;
  border-radius: 2px;
  box-sizing: border-box;
  padding-right: 30px;
  height: 45px;
  max-width: 442px;
  width: 100%;
  color: #2675d7;
  font-size: 13px;
}

.loading {
  opacity: 0.5;
}

.custom-checkbox {
  /* стили при наведении курсора на checkbox */
  /* стили для активного чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox > input {
  position: absolute !important;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox .label::before {
  content: "";
  background: url(../images/bx-admin-sprite-small-2.png) no-repeat 0 -983px;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  float: none;
  width: 16px;
  vertical-align: text-top;
  top: 2px;
  position: relative;
}
.custom-checkbox > input:not(:disabled):not(:checked) + .label:hover::before {
  border-color: #b3d7ff;
}
.custom-checkbox > input:not(:disabled):active + .label::before {
  background-position: 0 -1006px;
}
.custom-checkbox > input:focus:not(:checked) + .label::before {
  border-color: #80bdff;
}
.custom-checkbox > input:checked + .label::before {
  background-position: 0 -1006px;
}
.custom-checkbox > input:disabled + .label::before {
  background-color: #e9ecef;
}

.ck-editor__editable_inline {
  min-height: 300px;
}

.header {
  background: url(../images/header-big.png) repeat-x 0 0;
  box-shadow: inset 0 1px 0 0 rgba(148, 155, 157, 0.35);
  color: #bdc1c8;
  font-size: 12px;
  position: relative;
  z-index: 995;
}
.header .navbar {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  margin: 0 0 -8px;
}
.header .navbar .header-menu {
  margin: 0 0 0px;
  height: 42px;
  padding: 7px 0 0;
}
.header .navbar .header-link {
  background-color: #dfe9ed;
  background-image: linear-gradient(to bottom, #f9fafa, #e0eaed);
  color: #575a61 !important;
  cursor: pointer;
  height: 36px;
  margin-right: 8px;
  text-shadow: 0 1px 1px white;
  padding: 8px 19px 0;
  position: relative;
  z-index: 3;
  border-radius: 4px 4px 0 0;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  vertical-align: top;
  text-decoration: none !important;
  transition: padding 0.25s linear;
}
.header .navbar-brand {
  border: 1px solid #141517;
  border-bottom: none;
  background-color: #1c2330;
  background-image: linear-gradient(to bottom, #202736, #171a26);
  color: #bdc1c8 !important;
  cursor: pointer;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.3);
  margin-right: 8px;
  padding: 8px 19px 0;
  position: relative;
  z-index: 3;
  border-radius: 4px 4px 0 0;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  vertical-align: top;
  text-decoration: none !important;
  -webkit-transition: padding 0.25s linear;
  -moz-transition: padding 0.25s linear;
  -o-transition: padding 0.25s l;
  height: 35px;
  margin-bottom: -7px;
}
.header .adm-header-user-block {
  background: #1b212e;
  border-radius: 4px;
  border: 1px solid #151618;
  cursor: pointer;
  color: #dde7e9;
  text-decoration: none;
  display: inline-block;
  box-shadow: inset 1px 1px 0 0 #293244;
  line-height: 27px;
  height: 27px;
  font-weight: bold;
  font-size: 12px;
  max-width: 200px;
  min-width: 20px;
  margin-left: 17px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 16px 0 30px;
  position: relative;
  vertical-align: top;
  white-space: nowrap;
  line-height: 22px;
}
.header .adm-header-user-block:before {
  content: "";
  background: url(../images/bx-admin-sprite-small-2.png) no-repeat 0 -155px;
  left: 10px;
  top: 7px;
  height: 11px;
  position: absolute;
  width: 11px;
}
.header .adm-header-exit {
  color: #b1b9bd;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 12px;
  height: 27px;
  margin: 0 22px 0 13px;
  vertical-align: top;
  line-height: 27px;
  padding: 0px 10px 0;
}
.header .adm-header-exit:hover {
  color: #fff;
  text-decoration: none;
}

.sidebar-left {
  background: url(../images/submenu-bg.png) repeat;
  border-right: 1px solid #a4b9cc;
  padding-top: 16px;
}

.sidebar-left .nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #000;
  height: 33px;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
}
.nav-link .adm-arrow-icon {
  transition: transform 300ms;
  transform: rotate(90deg);
  background: url(../images/bx-admin-sprite.png) no-repeat -7px -238px;
  margin-bottom: 3px;
}
.nav-link .adm-arrow-icon:hover {
  background-position: -7px -261px;
}

.nav-link:hover, .nav-link.active {
  background-color: #f2f5f6;
  text-decoration: none;
  color: inherit;
}

.nav-link.collapsed .adm-arrow-icon {
  transform: rotate(0deg);
}

.nav-link.sub-level-1 {
  padding-left: 40px;
}

.nav-link.sub-level-2 {
  padding-left: 67px;
}

.nav-link.sub-level-3 {
  padding-left: 94px;
}

.nav-link.sub-level-4 {
  padding-left: 121px;
}

.nav-link.sub-level-5 {
  padding-left: 148px;
}

.nav-link.sub-level-6 {
  padding-left: 175px;
}

.nav-link .adm-arrow-icon {
  flex-shrink: 0;
}
.nav-link .adm-icon {
  flex-shrink: 0;
}

.nav-link-text {
  display: inline-block;
}

.adm-icon {
  background-repeat: no-repeat;
  background-position: center left;
  height: 30px;
  display: inline-block;
  width: 30px;
}

.adm-icon {
  background: url(../images/icons-sprite-14.png) no-repeat center -1512px;
}

.iblock_menu_icon_types {
  background-position: center -28px;
}

.iblock_menu_icon_iblocks {
  background-position: center -56px;
}

.highloadblock_menu_icon {
  background-position: center -168px;
}

.iblock_menu_icon_sections {
  background-position: center -112px;
}

.adm-arrow-icon {
  width: 20px;
  height: 20px;
}

.adm-arrow-icon-right {
  background: url(../images/bx-admin-sprite.png) no-repeat -7px -238px;
}
.adm-arrow-icon-right:hover {
  background-position: -7px -261px;
}

.adm-arrow-icon-down {
  background: url(../images/bx-admin-sprite.png) no-repeat -7px -216px;
}
.adm-arrow-icon-down:hover {
  background-position: -7px -282px;
}

.adm-arrow-icon-dot {
  width: 20px;
  height: 20px;
  background: url(../images/bx-admin-sprite-small-2.png) no-repeat left -1137px;
}

.breadcrumbs {
  margin: 0 0 0 -7px;
  padding: 10px 0;
  display: flex;
}
.breadcrumbs__item {
  color: #396298;
  text-decoration: none;
  text-shadow: 0 1px #ffffff;
  border-radius: 4px;
  border-top: 1px solid transparent;
  border: none;
  font-size: 11px;
}
.breadcrumbs__item:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px #fff, inset 0 0 2px rgba(255, 255, 255, 0.5);
  background: linear-gradient(bottom, #d7e3e7, #fff);
  color: #3f4b54;
  text-decoration: none;
  vertical-align: middle;
}
.breadcrumbs__text {
  padding: 0 7px;
  line-height: 25px;
  height: 24px;
  display: inline-block;
}
.breadcrumbs__arrow {
  background: url(../images/bx-admin-sprite-small-2.png) no-repeat 1px -1155px;
  display: inline-block;
  vertical-align: top;
  padding-right: 8px;
  padding: 0 7px;
  line-height: 25px;
  height: 24px;
}

.search .input-group {
  overflow: hidden;
  flex-wrap: nowrap;
  position: relative;
  height: 39px;
  border: none;
  border-radius: 2px;
  background: #fff;
  font: 15px/39px "Helvetica Neue", Arial, Helvetica, sans-serif;
  display: flex;
  margin: auto 19px auto 0;
  width: 100%;
  min-width: 300px;
  outline: none;
  z-index: 1;
}
.search .form-control {
  border: 0;
}
.search .form-control:focus {
  box-shadow: 0 0 0 0;
}
.search .btn-outline-secondary {
  border: 0;
  background: transparent;
}
.search .btn-outline-secondary:hover {
  background: transparent;
  color: rgba(108, 117, 125, 0.5);
}
.search .btn-outline-secondary.search-icon {
  height: 39px;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%3Cpath%20fill%3D%22%23535C68%22%20fill-rule%3D%22evenodd%22%20d%3D%22M1.33%205.5c0-2.304%201.866-4.17%204.17-4.17S9.67%203.195%209.67%205.5c0%202.305-1.865%204.17-4.17%204.17-2.305%200-4.17-1.865-4.17-4.17m12.528%206.944l-3.816-3.817-.014-.008C10.64%207.73%2011%206.66%2011%205.5%2011%202.462%208.537%200%205.5%200S0%202.462%200%205.5%202.463%2011%205.5%2011c1.158%200%202.232-.36%203.118-.972.004.004.005.01.01.014l3.816%203.817c.372.37.982.37%201.354%200l.06-.063c.372-.372.372-.982%200-1.354%22/%3E%3C/svg%3E);
  background-position: center 12px;
  background-repeat: no-repeat;
  opacity: 0.3;
  padding-left: 0;
  width: 31px;
}
.search .btn-outline-secondary.search-icon i {
  display: none;
}
.search .btn-add {
  text-transform: uppercase;
  font: var(--ui-btn-font-size)/calc(var(--ui-btn-height) - 2px) "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  width: 100%;
  padding: 0;
  border-radius: 1px;
}
.search .input-group-text {
  background: #bcedfc;
  border: 0;
  border-radius: 0;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}
.search .input-group-prepend__remove {
  height: 40px;
  width: 20px;
  background-color: #bcedfc;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.065%203.682L2.377.994%201.01%202.362%203.696%205.05.99%207.757l1.368%201.37%202.708-2.71%202.7%202.703%201.37-1.368-2.702-2.7%202.682-2.684L7.748%201%205.065%203.682z%22/%3E%3C/svg%3E);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.detail-toolbar {
  background: url(../images/filter-bg.gif) repeat scroll 0 0;
  border-radius: 4px;
  border-bottom: 1px solid #a0abb0;
  margin-bottom: 9px;
  padding: 8px 0 7px 9px;
}
.detail-toolbar__btn {
  display: flex;
  margin-top: 1px;
  float: left;
  vertical-align: top;
}
.detail-toolbar__btn-l, .detail-toolbar__btn-text, .detail-toolbar__btn-r {
  background: url(../images/bx-admin-sprite-small-2.png) no-repeat 0 -2155px;
  display: inline-block;
  height: 31px;
  vertical-align: top;
}
.detail-toolbar__btn-l {
  width: 11px;
}
.detail-toolbar__btn-text {
  background-position: 0 -2189px;
  background-repeat: repeat-x;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  padding: 6px 15px 0 12px;
  width: auto;
  line-height: 15px;
}
.detail-toolbar__btn-r {
  background-position: -13px -2357px;
  width: 4px;
}
.detail-toolbar .bx-core-popup-menu-item-icon {
  width: 46px;
  background: url(../images/popup_menu_sprite_2.png) no-repeat 6px -1080px;
  display: block;
  position: absolute;
  height: 28px;
  left: 0;
}
.detail-toolbar .bx-core-popup-menu-item-icon.edit {
  background-position: 6px -630px;
}
.detail-toolbar .bx-core-popup-menu-item-icon.delete {
  background-position: 6px -780px;
}
.detail-toolbar .actions .dropdown-menu {
  border: solid 1px #d5e1e4;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 18px 20px rgba(72, 93, 99, 0.3);
  padding: 8px 0;
}
.detail-toolbar .actions .dropdown-item {
  position: relative;
  font-size: 13px;
  font-weight: normal;
  text-shadow: 0 1px white;
  padding: 0 20px 0 46px;
  height: 30px;
  line-height: 27px;
}
.detail-toolbar .show .dropdown-toggle {
  border-radius: 4px;
  background-color: #b7c4c9 !important;
  box-shadow: inset 0 1px 1px 1px rgba(103, 109, 123, 0.78);
  background-image: linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96)) !important;
  border-top: transparent;
  outline: none;
  color: #3f4b54;
}

.product-tabs {
  background: url(../images/bx-admin-tabs-border-fon.png) repeat 0 0;
  margin: -4px 0 -2px;
  position: relative;
  box-sizing: border-box;
  padding-right: 40px;
}
.product-tabs .nav-link {
  background: url(../images/bx-admin-sprite-small-2.png) repeat-x 0 -2525px;
  display: inline-block;
  border-radius: 4px 4px 0 0;
  border: 1px solid;
  border-color: #d2dbdd #bec6c8;
  border-bottom: none;
  box-shadow: inset 0 1px 0 0 #fff;
  color: #3f4b54;
  cursor: pointer;
  height: 33px;
  font-size: 13px;
  font-weight: bold;
  margin: 10px 6px 8px 0;
  text-shadow: 0 1px #fff;
  position: relative;
  padding: 8px 15px 0;
  vertical-align: top;
}
.product-tabs .nav-link.active {
  background-position: 0 -2473px;
  color: #000;
  margin: 4px 6px 8px 0;
  height: 43px;
  padding-top: 13px;
  position: relative;
  cursor: default;
  z-index: 2;
}

.variants-btn-group {
  display: flex;
  flex-wrap: nowrap;
  vertical-align: middle;
  margin: 0 0 0 13px;
}
.variants-btn-group button {
  cursor: pointer;
  height: 32px;
  width: 32px;
  display: inline-block;
  vertical-align: top;
  outline: none;
  border: 0;
}
.variants-btn-group .brn-edit {
  background: url(../images/bx-admin-sprite-big1.png) no-repeat 0 -948px;
}
.variants-btn-group .brn-edit:disabled {
  background-position: 0 -1183px;
  cursor: default;
}
.variants-btn-group .btn-delete {
  background: url(../images/bx-admin-sprite-big1.png) no-repeat 0 -985px;
}
.variants-btn-group .btn-delete:disabled {
  background-position: 0 -1224px;
  cursor: default;
}

.item-edit {
  background-color: #f5f9f9;
  border: 1px solid;
  border-color: #c4ced2 #dce7ed #dce7ed;
  padding: 19px;
}
.item-edit .col-form-label {
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.item-edit .width-15 .form-control {
  width: 15%;
}
.item-edit .width-27 .form-control {
  width: 27%;
}
.item-edit .width-35 .form-control {
  width: 35%;
}
.item-edit .width-45 .form-control {
  width: 45%;
}
.item-edit .width-50 .form-control {
  width: 50%;
}
.item-edit .form-check-label {
  display: block;
  text-align: right;
}
.item-edit .form-check-label span {
  display: inline-block;
  min-height: 12px;
  min-width: 12px;
  text-align: left;
}
.item-edit .form-control {
  font-size: 12px;
  height: 30px;
}
.item-edit .form-control.message {
  width: 219px;
}
.item-edit .input-group .form-control {
  font-size: 12px;
  height: calc(1.5em + 0.75rem + 2px);
}
.item-edit .input-group .btn {
  padding: 2px 11px;
}
.item-edit select.form-control {
  padding-top: 0;
  padding-bottom: 0;
}
.item-edit textarea.form-control {
  height: auto;
}
.item-edit .form-group {
  margin-bottom: 10px;
}

.bx-core-popup-menu {
  border: solid 1px #d5e1e4;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 18px 20px rgba(72, 93, 99, 0.3);
  padding: 8px 0;
  margin: 13px 0 0 -13px;
  letter-spacing: normal;
  list-style: none;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
  vertical-align: baseline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
}
.bx-core-popup-menu__arrow {
  top: -9px;
  left: 11px;
  background: url(../images/popup_menu_sprite_2.png) no-repeat left -1480px;
  display: block;
  position: absolute;
  height: 10px;
  width: 17px;
  content: "";
  line-height: 1px;
  font-size: 1px;
  padding: 0;
  margin: 0;
}
.bx-core-popup-menu .bx-core-popup-menu-item {
  background: none;
  border: none;
  border-top: solid 1px transparent;
  padding: 0;
  color: #2a2a2a !important;
  display: block;
  min-width: 120px;
  position: relative;
  z-index: 1;
}
.bx-core-popup-menu .bx-core-popup-menu-item-icon {
  width: 46px;
  background: url(../images/popup_menu_sprite_2.png) no-repeat 4px -1081px;
  display: block;
  position: absolute;
  height: 28px;
}
.bx-core-popup-menu .bx-core-popup-menu-item-icon.adm-menu-edit {
  background-position: 6px -630px;
}
.bx-core-popup-menu .bx-core-popup-menu-item-icon.adm-menu-copy {
  background-position: 6px -690px;
}
.bx-core-popup-menu .bx-core-popup-menu-item-icon.adm-menu-delete {
  background-position: 6px -780px;
}
.bx-core-popup-menu .bx-core-popup-menu-item-text {
  font-size: 13px;
  font-weight: normal;
  text-shadow: 0 1px white;
  padding: 0 20px 0 46px;
  height: 30px;
  line-height: 27px;
}
.bx-core-popup-menu .bx-core-popup-menu-separator {
  background: #ebebeb;
  display: block;
  font-size: 1px;
  height: 1px;
  line-height: 1px;
  margin: 7px 10px;
  overflow: hidden;
  padding: 0;
}

.nav-tabs {
  background: url(../images/bx-admin-tabs-border-fon.png) repeat 0 0;
  margin: -4px 0 -2px;
  padding: 0 40px 0 0;
  box-sizing: border-box;
  width: 100%;
}
.nav-tabs .nav-item {
  display: inline-block;
  margin: 10px 6px 8px 0;
}
.nav-tabs .nav-link {
  background: url(../images/bx-admin-sprite-small-2.png) repeat-x 0 -2525px;
  padding: 1px 15px 0px;
  border-radius: 4px 4px 0 0;
  border: 1px solid;
  border-color: #d2dbdd #bec6c8;
  border-bottom: none;
  box-shadow: inset 0 1px 0 0 #fff;
  color: #3f4b54;
  cursor: pointer;
  height: 34px;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px #fff;
  position: relative;
  vertical-align: top;
}
.nav-tabs .nav-link.active {
  background-position: 0 -2473px;
  color: #000;
  margin: -8px 6px -2px 0;
  height: 42px;
  padding-top: 0px;
  position: relative;
  cursor: default;
  z-index: 2;
}

.nav-tabs.nav-tabs-fixed {
  position: fixed;
  top: 0;
  z-index: 10;
}

.add-file {
  position: relative;
  border: 2px dashed #d3d2d2;
  border-radius: 4px;
  padding: 5px 5px 20px;
  font-size: 0;
  min-height: 65px;
  overflow: hidden;
}
.add-file .form-control-file {
  filter: alpha(opacity=0) !important;
  bottom: 15px !important;
  left: 0 !important;
  opacity: 0 !important;
  position: absolute !important;
  display: block;
  width: 100%;
  height: 40px;
  cursor: pointer !important;
}
.add-file .form-control {
  border: 1px solid #d7d9db;
  border-radius: 0;
  padding: 0 8px;
  box-shadow: 0 0 0 1px #d7d9db;
  height: 30px;
  margin-top: 8px;
}
.add-file .row {
  margin: 0;
  justify-content: center;
}
.add-file__text {
  font-size: 14px;
  font-weight: bold;
  color: #aebac3;
  text-align: center;
  margin-top: 16px;
  position: relative;
  pointer-events: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.add-file .card {
  width: calc(50% - 10px);
  padding: 12px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  display: inline-block;
  margin: 5px;
}
.add-file .card-title a {
  position: relative;
  display: block;
  padding: 0 10px;
  font-size: 12px;
  font-weight: bold;
  color: #333434;
  line-height: 15px;
  margin: 10px 0 7px;
  word-wrap: break-word;
  word-break: keep-all;
  max-height: 60px;
  max-width: 144px;
  overflow: hidden;
  text-align: center;
}
.add-file .adm-fileinput-item-preview {
  position: relative;
  background: #f5f9f9;
  height: 164px;
  text-align: center;
  box-shadow: 0 0 0 1px #e6e7e9;
  vertical-align: middle;
  font-size: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
.add-file .adm-fileinput-item-preview__remove {
  border: 0;
  background: url(../images/fileinput-sprite.png) no-repeat -29px -26px;
  padding: 5px;
}

.characteristics .column {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.characteristics .column:last-child {
  justify-content: flex-end;
}
.characteristics .column.between {
  justify-content: space-between;
}
.characteristics .title-row-bg {
  background-color: #e0e8ea;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}
.characteristics .title-row-bg .btn__remove {
  margin-right: 0;
}
.characteristics .title-row-bg .buttons-block {
  margin-left: 0;
}
.characteristics .row-line {
  margin: 0 0 15px;
}
.characteristics .title {
  margin: 0;
  color: #4b6267;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px #fff;
}
.characteristics .form-control {
  width: 50%;
  margin: 0 0 0 15px;
}
.characteristics .buttons-block {
  margin-left: 5px;
}
.characteristics .btn__remove {
  margin-right: 5px;
}

.filter-form {
  background: url(../images/filter-bg.gif) repeat;
  border-radius: 0 5px 5px 5px;
  border-bottom: 1px solid #a0abb0;
  padding: 10px 0 14px 0;
  position: relative;
  z-index: 3;
  margin-bottom: 15px;
  width: 800px;
}
.filter-form__body {
  padding: 0px 4px;
}
.filter-form__footer {
  padding: 10px 20px 0;
  position: relative;
  margin-bottom: -10px;
}
.filter-form__footer:before {
  content: "";
  background-color: #d7dfe2;
  border-top: 1px solid #87919c;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.filter-form .form-group {
  margin: 0 0 5px;
}
.filter-form .form-control {
  height: 27px;
  padding: 0rem 0.75rem;
}
.filter-form .col-form-label {
  padding-top: 0;
  padding-bottom: 0;
}

.block-pagination {
  margin: 10px 0 0;
  max-width: 1347px;
}
.block-pagination__text {
  color: #3f4b54;
  display: inline-block;
  font-size: 11px;
  text-shadow: 0 1px #fff;
  vertical-align: top;
  padding: 6px 12px 0 0;
}
.block-pagination .col-form-label {
  color: #3f4b54;
  display: inline-block;
  font-size: 11px;
  text-shadow: 0 1px #fff;
  vertical-align: top;
}

.pagination .page-item .page-link {
  background: url(../images/bx-admin-sprite-small-2.png) 0 -452px repeat-x #edf3f6;
  display: inline-block;
  border: 1px solid;
  border-color: #99acb5 #99acb5 #99acb5 #99acb5;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 #fff;
  color: #5e5e5e;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  text-shadow: 0 1px #fff;
  text-decoration: none;
  text-align: center;
  margin: 0 2px;
  padding: 0 3px 0;
  position: relative;
  min-width: 26px;
  line-height: 22px;
}
.pagination .page-item.active .page-link {
  background: #6f797f !important;
  box-shadow: 0 1px 0 #fff, inset 0 1px 4px #4e5559;
  border-color: #565e63 #5d666b #5e676c #5d666b;
  color: #efefef;
  text-shadow: 0 1px #60686d;
}

#resize-container {
  flex-grow: 1;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  position: relative;
  background: url(../images/submenu-bg.png) repeat;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 20px;
}

#aside {
  position: relative;
  box-sizing: border-box;
  min-width: 0;
  flex-basis: 330px;
}

#resizer {
  background: url(../images/submenu-bg.png) repeat;
  cursor: e-resize;
  flex-basis: 10px;
  position: relative;
  z-index: 100;
  box-sizing: border-box;
}

.form-check-inline {
  margin: -7px -7px 8px 0;
}

.adm-s-result-container-itog-table {
  flex: 500;
  max-width: 500px;
  background: #ecf1d4;
  padding: 10px;
  border-radius: 3px;
}
.adm-s-result-container-itog-table .table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}
.adm-s-result-container-itog-table th {
  height: 35px;
  vertical-align: middle;
  padding: 0 15px;
  border: 0;
  font-weight: normal;
  font-size: 13px;
  color: #000;
}
.adm-s-result-container-itog-table th:last-child {
  text-align: right;
}
.adm-s-result-container-itog-table .adm-s-result-container-itog-table-result th {
  background: #dbe3b9;
  font-weight: bold;
}

.footer {
  padding: 15px 15px 3px;
  margin: 5px 0 0;
}
.footer.footer-btns {
  background: #fff;
}

.admin-edit-variations {
  border-radius: 5px;
  border: 1px solid;
  border-color: #d6dfe1 #ced7d8 #969d9e #bec7c8;
  border-top: none;
  box-shadow: 0 -1px 0 0 rgba(185, 185, 185, 0.2);
  position: relative;
}
.admin-edit-variations__header {
  background: url(../images/bx-admin-sprite-small-2.png) repeat-x 0 -551px;
  border-radius: 5px 5px 0 0;
  box-shadow: inset 0 1px 0 #fff;
  border-bottom: 1px solid #dde5e7;
  height: 49px;
  white-space: nowrap;
  padding: 9px 50px 0 8px;
  position: relative;
}
.admin-edit-variations__footer {
  background: url(../images/bx-admin-sprite-small-2.png) repeat-x 0 -1247px;
  border-top: 1px solid #f1f1f1;
  border-radius: 0 0 5px 5px;
  box-shadow: inset 0 1px 0 #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  height: 47px;
  padding-top: 7px;
  position: relative;
}
.admin-edit-variations table {
  border: none;
  font-size: 13px;
  margin: 0;
  border-spacing: 0;
}
.admin-edit-variations table.table-variants th:nth-child(3) {
  width: 250px;
}
.admin-edit-variations table.table-variants th:nth-child(4) {
  width: 110px;
}
.admin-edit-variations table.table-variants th:nth-child(9) {
  width: 100px;
}
.admin-edit-variations th {
  background-color: #aebbc0;
  background-image: linear-gradient(to bottom, #b9c7cd, #aab6b8);
  border: 1px solid;
  border-color: #d9e0e4 #89979d #919b9d #ebeef0;
  font-weight: bold;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  height: 21px;
  vertical-align: middle !important;
  padding: 6px 16px 4px;
  font-size: 11px;
  text-align: left;
}
.admin-edit-variations th:nth-child(2) {
  width: 15px;
}
.admin-edit-variations th:nth-child(4) {
  width: 185px;
}
.admin-edit-variations th:nth-child(9) {
  width: 293px;
}
.admin-edit-variations td {
  background: #fff;
  border: none;
  color: #000;
  font-size: 13px;
  height: 15px;
  padding: 11px 0 10px 16px;
  text-align: left;
  vertical-align: middle;
}
.admin-edit-variations td:nth-child(2) {
  width: 15px;
}
.admin-edit-variations td .form-control {
  width: 130px;
  height: 27px;
  padding: 8px;
  font-size: 12px;
}
.admin-edit-variations td select.form-control {
  width: 130px;
  height: 27px;
  padding: 2px;
  font-size: 12px;
}
.admin-edit-variations td:nth-child(3) .form-control {
  width: 300px;
}
.admin-edit-variations tr:nth-child(odd) td {
  background-color: #f5f9f9;
}
.admin-edit-variations tr:hover td {
  background-color: #e0e9ec;
}

.other-page {
  font-size: 13px;
}
.other-page__title {
  text-align: right;
  display: block;
  font-size: 14px;
}
.other-page .column {
  width: 50%;
  padding: 5px 10px 7px;
}
.other-page .label span {
  display: inline-block;
  min-height: 12px;
  min-width: 12px;
  text-align: left;
}

.order-edit {
  background-color: #fff;
}
.order-edit .adm-bus-component-title-container {
  position: relative;
  padding: 10px;
  background: #e7f2f2;
  display: flex;
}
.order-edit .adm-bus-component-title-icon {
  line-height: 16px;
  display: inline-block;
  width: 17px;
  height: 16px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAYAAADwMZRfAAAApklEQVQ4y62TWxKAIAhFWV+5CfqR/W+g0kRe4ZfN3AFvCXYoOK96sMpFXd47h1dMlBy04cVFdWG95hxkk+0WRb9Fm+DecLWTLPV2fSPN+In92g4BYuDYiG497vMmv+5FPCR5XzsBD9cwyUabgsYIHPJO61Nob/d0SAGTfHpYDVwGzGBNIfuwTKH85LOIZUABbA5e7sH6U48ge0QHNo41/4eyZlum8wCk2+4DSY0a1QAAAABJRU5ErkJggg==) no-repeat center;
}
.order-edit .adm-bus-component-title {
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;
  display: inline-block;
  vertical-align: middle;
  color: #3a4649;
  text-shadow: 0 1px 0 #fff;
}
.order-edit .adm-bus-component-content-container {
  padding: 5px;
  background: #f7fafa;
  margin-bottom: 15px;
}
.order-edit .align-items-center,
.order-edit .col-form-label {
  font-size: 13px;
}
.order-edit .block {
  display: block;
}
.order-edit .adm-s-order-table-ddi-table thead th {
  background: #e8eff1;
  height: 48px;
  box-shadow: inset 0 1px 0 0 #fff;
  border-top: 1px solid #e2e5e5;
  font-size: 14px;
  color: #3b4649;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #a9a9a9;
  padding: 1px 3px;
  vertical-align: middle;
}
.order-edit p {
  margin: 0 0 5px;
  font-size: 13px;
}
