.app-html-editor {
    .faq-section {
        border-bottom: 1px solid #ddd;
        font-size: 14px;
        margin: 0 10px 36px 0;
        padding: 5px 0 9px;
        .question {
            background: #ddeef8;
            border-radius: 12px;
            box-shadow: 1px 2px 1px #e0e0e0;
            color: #000;
            font-size: 16px;
            margin: 0 0 0 10px;
            padding: 12px 15px;
            position: relative;
            &:before {
                background: url(../../images/corner_faq.png) 100% 100% no-repeat;
                content: " ";
                display: block;
                height: 14px;
                left: -9px;
                position: absolute;
                top: 0;
                width: 20px;
            }
        }
        .answer {
            background: #fffefa;
            border: 1px solid #ddd;
            margin: 20px 0 12px 50px;
            padding: 5px 20px;
        }
    }
}
