.item-edit {
    &.product-edit {
        background-color: #f5f9f9;
        border: 1px solid;
        border-color: #c4ced2 #dce7ed #dce7ed;
        padding: 19px;
        .col-form-label {
            text-align: right;
        }

        .width-27 {
            .form-control {
                width: 27%;
            }
        }

        .width-35 {
            .form-control {
                width: 35%;
            }
        }

        .width-45 {
            .form-control {
                width: 45%;
            }
        }

        .width-50 {
            .form-control {
                width: 50%;
            }
        }

        .form-check-label {
            display: block;
            text-align: right;
        }
    }
}
