.sidebar-left {
	background: url(../images/submenu-bg.png) repeat;
	border-right: 1px solid #a4b9cc;
	overflow: hidden;
    padding-top: 16px;
    position: relative;
    z-index: 47;   
    max-width: 330px;
    .nav-item {
    	position: relative;
    }

    .adm-submenu-item-name-link,
    .nav-link {
		font-size: 13px;
		color: #000;
		display: block;
		height: 33px;
		text-shadow: 0 1px 0 #fff;
		white-space: nowrap;
		-webkit-tap-highlight-color: transparent;
		text-decoration: none;
		&:hover {
			.adm-submenu-item-name-link-text {
				text-decoration: underline;
			}
		}
		&.icon-none {
			.adm-submenu-item-name-link-text {
				margin-left: 20px;
			}
		}
    }

    .adm-submenu-item-arrow {
		left: -23px;
		top: 3px;
	    height: 33px;
	    position: absolute;
	    width: 30px;
	}

	.adm-submenu-item-arrow-icon {
		position: absolute;
		right: -2px;
		top: 7px;
		width: 20px;
		height: 20px;
		background: url(../images/bx-admin-sprite.png) no-repeat -7px -238px;
	}

	.adm-submenu-item-link-icon {
		background: url(../images/icons-sprite-14.png) no-repeat center -1512px;
	    margin-top: 4px;
	    height: 28px;
	    display: inline-block;
	    vertical-align: top;
	    width: 33px;
	    &.fileman_menu_icon {
		    background-position: center -83px;
		}
	}

	.adm-submenu-item-name {
		height: 33px;
		margin: 0 0 2px;
		min-width: 198px;
		padding-top: 1px;
		position: relative;
		
		&.open-menu {
			.adm-submenu-item-arrow-icon {
				background: url(../images/bx-admin-sprite.png) no-repeat -7px -216px;
			}
		}
	}

	.adm-sub-submenu-block {
		position: relative;
		&.has-submenu {
			.adm-submenu-item-link-icon {
				background: url(../images/icons-sprite-14.png) no-repeat center -112px;
				margin-left: 11px;
			}			
		}
		&.submenu-none {
			.adm-submenu-item-arrow-icon {
				background: url(../images/bx-admin-sprite-small-2.png) no-repeat  left -1139px;
			}
			.adm-submenu-item-link-icon {
				background: url(../images/icons-sprite-14.png) no-repeat center -112px;
				margin-left: 11px;
			}
		}
		&.adm-submenu-level-4 {
			.adm-submenu-item-link-icon {
				margin-left: 38px;
			}
		}
	}

	.adm-submenu-item-name-link-text {
	    display: inline-block;
	    padding-top: 7px;
	    vertical-align: top;
	}

	.adm-sub-submenu-block-children {
		.adm-submenu-item-name-link {
			padding: 0 0 0 33px;
		}
	}

	.iblock_menu_icon_types {
		.fileman_menu_icon {
			background-position: center -28px;
		}
		.adm-submenu-level-2 {
			.adm-submenu-item-link-icon {
				background-position: center -56px;
				margin-left: -8px;
			}
		}
		.open-menu {
			.adm-submenu-item-arrow-icon {
				background: url(../images/bx-admin-sprite.png) no-repeat -7px -218px;
			}
		}

		.adm-submenu-level-2 {
			.submenu-none {
				margin-left: 20px;
				.adm-submenu-item-arrow-icon {
					background: url(../images/bx-admin-sprite-small-2.png) no-repeat  left -1139px;
					right: 22px;
				}
				.adm-submenu-item-name-link-text {
					padding-left: 7px;
					margin-left: 3px;
				}
				.iblock_menu_icon_iblocks {
					margin-left: -26px;
				}
				.adm-submenu-item-name-link-text {
					margin-left: -7px;
				}
			}
		}

		.adm-submenu-level-3 {
			.submenu-none {
				margin-left: 20px;
				.adm-submenu-item-arrow-icon {
					background: url(../images/bx-admin-sprite-small-2.png) no-repeat  left -1139px;
					right: 16px;
				}
				.adm-submenu-item-name-link-text {
					padding-left: 7px;
					margin-left: 3px;
				}
			}
			.fileman_menu_icon_sections {
				margin-left: 21px;
			}

			.adm-submenu-item-arrow-icon {
				right: -5px;
			}
		}

		.adm-submenu-level-4 {
			.submenu-none {
				margin-left: 20px;
				.adm-submenu-item-arrow-icon {
					background: url(../images/bx-admin-sprite-small-2.png) no-repeat  left -1139px;
					right: 9px;
				}
				.adm-submenu-item-name-link-text {
					padding-left: 35px;
				}
			}
			.fileman_menu_icon_sections {
				margin-left: 49px;
			}
			.adm-submenu-item-arrow-icon {
				right: -11px;
			}
		}

		.adm-submenu-level-5 {
			.submenu-none {
				margin-left: 20px;
				.adm-submenu-item-arrow-icon {
					background: url(../images/bx-admin-sprite-small-2.png) no-repeat  left -1139px;
					right: 3px;
				}
				.adm-submenu-item-name-link-text {
					padding-left: 61px;
				}
			}
			.fileman_menu_icon_sections {
				margin-left: 76px;
			}

			.adm-submenu-item-arrow-icon {
				right: -17px;
			}
		}

		.adm-submenu-level-6 {
			.submenu-none {
				margin-left: 20px;
				.adm-submenu-item-arrow-icon {
					background: url(../images/bx-admin-sprite-small-2.png) no-repeat  left -1139px;
					right: -3px;
				}
				.adm-submenu-item-name-link-text {
					padding-left: 88px;
				}
			}
			.fileman_menu_icon_sections {
				margin-left: 105px;
			}

			.adm-submenu-item-arrow-icon {
				right: -23px;
			}
		}
		.adm-submenu-level-7 {
			.submenu-none {
				margin-left: 20px;
				.adm-submenu-item-arrow-icon {
					background: url(../images/bx-admin-sprite-small-2.png) no-repeat  left -1139px;
					right: -11px;
				}
				.adm-submenu-item-name-link-text {
					padding-left: 117px;
				}
			}			
		}
	}
}

.nav-menu {

}