.basket-mobile {
    display: none;
    border-top: 1px solid #f2f2f2;
    overflow: hidden;
    @media (max-width: 767px) {
        display: block;
    }

    &__photo {
        flex: 75px 0;
        padding: 0 8px 0 0;
        img {
            width: 100%;
            max-width: 75px;

        }
    }

    &__text {
        flex: 1 1;
    }

    &__product-block {
        border-bottom: 1px solid #f2f2f2;
        padding: 8px 10px;
    }

    &__blocker-gree {
        background: #ececec;
        float: right;
        max-width: 280px;
        overflow: hidden;
        padding: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__cost-basket {
        margin: 0 15px 0 0;
        font-weight: 700;
        font-size: 18px;
        color: #000;
    }

    .row-basket {
        justify-content: flex-end;
        display: flex;
        align-items: center;
        .js-cart-delete {
            display: inline-block;
            margin: 0;
        }
    }

    .row-line {
        &:last-child {
            padding-top: 10px;
        } 
    }

    .text-large {
        font-size: 17px;
        color: #999;
        width: auto;
        margin-right: 15px;
        line-height: 25px;
    }

    .deleted-row { 
        .basket-mobile__cost-basket,
        .basket-mobile__photo,
        .text-large
        p {
            opacity: .5;
        }          
        
        .js-cart-column-count-part-deleted {
            text-align: center;

            button {
                color: #000;
                padding: 3px 8px;
                margin: 0 3px;
                border-radius: 3px;
                border: 1px solid #333;
            }
        }
        
    }
}
