.basket-mobile {
    display: none;
    @media (max-width: 767px) {
        display: block;
    }

    &__photo {
        flex: 75px 0;
        img {
            width: 100%;
            max-width: 75px;
            padding: 0 8px;
        }
    }

    &__text {
        flex: 1 1;
    }

    .row-basket {
        justify-content: flex-end;
        display: flex;
        align-items: center;
        .js-cart-delete {
            display: inline-block;
            margin: 0;
        }
    }


}
