.brands-list {
  &__item {
    border-bottom: 1px dotted #444;
    padding-bottom: 12px;
    padding-top: 12px;
    margin: 0;
  }

  &__colum-left {
    width: 136px;
  }

  &__colurm-right {
    flex: 1 0;
  }

  &__photo {
    border: 1px solid #ebebeb;
    margin: 0;
    padding: 1px;
    width: 108px;
  }

  &__title {
    margin: 0 0 10px;
    font-weight: 700;
    line-height: 1;
    font-size: 13px;
    padding: 0;
    text-decoration: underline;
  }

  &__description {
    color: #676767;
    font-size: 12px;
    margin: 0 0 10px;
  }

  &__more {
    background: url(../images/arr-orange-right-4.png) no-repeat scroll left 7px;
    color: #a00 !important;
    display: inline-block;
    font: 13px Tahoma;
    margin: 0 0 0 5px;
    padding-left: 13px;
    text-decoration: underline;
  }

}
