.filter-head {
  overflow: hidden;
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  span {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
    color: #adadad;
    padding: 0 5px 0 0;
  }

  &__color {
    color: #000 !important;
    font-weight: bold;
  }

  .column {
    flex: 1 1;
    @media (max-width: 767px) {
      flex: auto;
    }
    &:last-child {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media (max-width: 767px) {
        margin: 0;
      }
    }
  }

  &__sort {
    margin: 0 0 0 15px;
  }

  &__link {
    font-size: 12px;
    color: #adadad;
    margin: 0 3px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  select {
    color: #adadad;
    @media (max-width: 767px) {
      margin: 0 0 0 7px;
    }
  }

  &__active {
    font-weight: 700;
    font-size: 12px;
    margin: 0 3px;
  }

  &__icon {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  img {
    margin: 0 3px;
    vertical-align: bottom;
  }
}
