body {
	background: url(../images/bg.png) repeat;
	background-attachment: fixed;
}

html,
body {
  height: 100%;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@media (min-width: 1200px) {
		width: 1170px;
	}
}

.row-line {
	margin-right: -15px;
    margin-left: -15px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
  &.no-margin {
    margin: 0;
  }
	&__between {
		justify-content: space-between;
	}
  &__center {
    align-items: center;
  }
  &__right {
    justify-content: flex-end;
  }
  &__jc-center {
    justify-content: center;
  }
}

.visible-xs {
  @media (max-width: 767px) {
    display: block !important;
  }
}

.hidden-sm {
	@media (max-width: 991px) and (min-width: 768px) {
		display: none !important;
	}
}
.hidden-xs {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.hidden-md {
	@media (max-width: 1199px) and (min-width: 992px) {
		display: none !important;
	}
}

.hidden-lg {
	@media (min-width: 1200px) {
		display: none!important;
	}
}

.title {
	font-size: 36px;
	font-weight: bold;
	background: url(../images/border.png) bottom left no-repeat;
	padding-bottom: 10px;
	margin: 0 0 20px;
  color: #0068c8;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h2, h3 {
    font-size: 22px;
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    color: #000;
    margin: 0 0 10px;
    padding: 10px 0;
}

h4, .h4 {
  font-size: 18px;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.wrapper {
  background: url(../images/bg.png) repeat;
  background-attachment: fixed;
  overflow: hidden;
  transition: transform .5s, -webkit-transform .5s;
  z-index: 222;
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    z-index: 222;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  }
}

.slideout-open {
  .wrapper {
    &:after {
      width: 100%;
      height: 100%;
      opacity: 1;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
    }
  }
}

root {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.desktop-visible {
  @media (max-width: 850px) {
    display: none !important;
  }
}

.mob-visible {
  @media (min-width: 850px) {
    display: none;
  }
}

.block-back-page {
  margin: 0 0 10px;
  img {
    display: block;
  }
}

.single {
  h2, h3, h4 {
    font-size: 16px;
    margin: 0 0 10px;
    padding: 0;
    font-weight: 700;
  }
}

.steps {
  background: #c8e1c1;
  overflow: hidden;
  margin: 0 0 10px;
  text-align: center;
  .column {
    width: 100%;
    @media (min-width: 768px) {
      width: 50%;
    }
  }
}

.button-buy {
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 14px;
  height: 31px;
  line-height: 29px;
  margin: 0;
  padding-left: 1px;
  text-align: center;
  text-decoration: none;
  width: 100px;
  &.color-orange {
    background: #fdad30;
    border: 1px solid #fdad30;
    color: #fff;
  }

  &.red-color {
    background: #ff5100;
    border: 1px solid #b0552c;
    color: #fff;
  }
}

.tabs,
.tab-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 21px 0 17px;
  margin: 0;
  li {
    margin: 0 10px;
    @media (max-width: 767px) {
      width: calc(50% - 20px);
    }
    &:first-of-type {
      a {
        background-color: #e2dede;
        color: #457dc4;
        border: 1px solid #d6d6d6;
        text-decoration: none;
        cursor: default;
      }
    }
    a {
      background-color: #fff;
      color: #888;
      padding: 10px 0;
      display: inline-block;
      border: 1px solid #d6d6d6;
      width: 190px;
      line-height: 1;
      font-family: robotoregular, Arial, sans-serif;
      font-size: 18px;
      border-radius: 30px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

main {
  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

.content-sliders {
  padding: 50px 0 0;
  .slider-blocker {
    margin: 0 0 50px;
  }
}
