.pagenavi {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  @media (max-width: 767px) {
    width: 100%;
    flex: auto;
  }
  &__button {
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: 1px solid #fff;
    font-family: 'Roboto', Arial, sans-serif;
    color: #000;
    font-size: 12px;
    margin-right: 6px;
    text-align: center;
    display: block;
    line-height: 28px;
    text-decoration: none;
    display: inline-block;
    &--active {
      background-color: #fff;
      border-color: #f7f1e9;
    }
    &:hover {
      background-color: #fff;
      border-color: #f7f1e9;
      color: #4f7fd6;
    }
  }
}
