.product {
    &__breadcrumbs-header {
        margin: 0 0 10px;
        align-items: center;
        .column {
            width: 75%;
            @media (max-width: 600px) {
                width: 100%;
            }
            &:last-child {
                width: 25%;
                justify-content: flex-end;
                display: flex;
            }
        }
    }

    &__photo {
        border: 1px solid #e6e6e6;
        border-radius: 6px;
        height: auto;
        margin: 0 0 15px;
        overflow: hidden;
        padding: 10px;
        text-align: center;
        @media (max-width: 815px) {
            margin-bottom: 20px;
        }
        img {
            max-height: 356px;
        }
    }

    .breadcrumbs {
        margin: 0;
    }

  &__title {
    padding: 0;
  }

  .btn-back {
    display: block;
    width: 112px;
    height: 25px;
    background: url(../images/back-product-arrow.svg) no-repeat;
    text-decoration: none;
    text-align: right;
      @media (max-width: 600px) {
          display: none;
      }
  }

  .product-line {
    .column {
        width: 50%;
        padding: 0 15px;
        @media (max-width: 815px) {
            width: 100%;
        }
    }
  }
}
