.slider-blocker {
  &__header {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 1px;
    margin: 0 0 20px;
    border-bottom: 2px solid #6c6c6c;
    line-height: 52px;
    height: 56px;
    align-items: center;
  }

  &__header-title {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #294886;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  &__item {
    position: relative;
    height: 380px;
    text-align: left;
    margin-right: 20px;
    white-space: normal;
    border: 1px solid #e8e7e7;
    box-sizing: border-box;
    padding: 14px 9px 20px;
    background-color: #fff;
  }

  &__photo {
    width: 100%;
    margin: 0 0 50px;
    img {
      padding-top: 0;
      display: block;
      margin: 0 auto;
      width: 210px;
      height: 210px;
      object-fit: cover;
    }
  }

  &__title {
    white-space: normal;
    margin: 0 0 20px;
    padding: 0;
    height: 36px;
    overflow: hidden;
    line-height: 17px;
    a {
      color: #363636;
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;
      font-weight: 600;
      text-decoration: none;
      white-space: normal;
    }
  }

  &__text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-prev {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #eeeeee;
    cursor: pointer;
    text-align: center;
    color: #294886;
  }

  .btn-slider {
    background-color: #fff;
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #eeeeee;
    cursor: pointer;
    text-align: center;
    color: #294886;
    line-height: 37px;
    outline: none;
    &:after {
      display: none;
    }
    &.swiper-button-disabled {
      color: #aaa;
      cursor: default;
      pointer-events: none;
    }
  }

  .block-arrow {
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__cost {
    color: #dd522d;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    padding-right: 13px;
  }

  &__buy {
    color: #363636;
    border-left: 1px dashed #000;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    font-size: 19px;
    text-decoration: none;
    padding: 0 0 0 10px;
  }
}
