.tooltip {
    &.tooltip-variants {
        .tooltip-inner {
            width: 400px;
            max-width: 400px;
        }
    }
    &.show {
        opacity: 1;
    }

    &.bs-tooltip-top .arrow {
        bottom: 1px;
    }

    .tooltip-inner {
        font-size: 14px;
        line-height: 20px;
        color: #333333;
        padding: 10px;
        background-color: #cfE !important;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
    .arrow::before {
        bottom: -1px !important;
        border-bottom-color: #cfe !important;
        border-top-color: #cfe !important;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        z-index: 22;
    }
}
